[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "bundle/vim-clojure-static"]
	path = bundle/vim-clojure-static
	url = https://github.com/guns/vim-clojure-static.git
[submodule "bundle/vim-perl"]
	path = bundle/vim-perl
	url = https://github.com/vim-perl/vim-perl.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/gabrielelana/vim-markdown.git
[submodule "bundle/typescript-vim"]
	path = bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "bundle/vim-ps1"]
	path = bundle/vim-ps1
	url = https://github.com/PProvost/vim-ps1.git
[submodule "bundle/mediawiki.vim"]
	path = bundle/mediawiki.vim
	url = https://github.com/chikamichi/mediawiki.vim.git
[submodule "bundle/wells-colorcheme.vim"]
	path = bundle/wells-colorcheme.vim
	url = https://github.com/wellsjo/wells-colorscheme.vim.git
[submodule "bundle/vim-csharp"]
	path = bundle/vim-csharp
	url = https://github.com/quanticle/vim-csharp
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
